# Если стоит то make воспринимает команду как для разработки (необязательно) , prod, local develop можeт быть такие значения
STAGE=develop
# !Токен Telegram-бота
BOT_TOKEN=your_bot_token_here
#Настроки сервера на которм контейнер с VPN для подключения к нему.
#Дефолтное время для Timeout ошибки при подключени к стороннему сревису
COMMON_TIMEOUT=10
VPN_HOST=177.177.177.1
VPN_USERNAME=username
VPN_CONTAINER=amnezia-awg
#Важная настройка так как прокси я делаю на поддомене
PROXY_PREFIX=proxy-boriska
VPN_PROXY=telemt
# по умолчанию порт 443 налр испльзовать его
PROXY_PORT=8443
# по умолчанию 10
MAX_CONFIGS_PER_USER=10
# !Список ID администраторов в формате строки списка
ADMIN_IDS='[123456789]'
# Цена за тарифы 1,3,6,12 месяцев и триал период на 7 дней
PRICE_MAP={"1":70,"3":160,"6":300,"12":600,"7":0}
# !Базовый URL сайта (например, для webhook)
BASE_SITE=https://your-domain.com
# *Настройки FastAPI по умолчани юоба False
DEBUG_FAST_API=True
RELOAD_FAST_API=True
# *Уровни логирования по умолчанию INFO INFO WARNING
LOGGER_LEVEL_STDOUT=DEBUG
LOGGER_LEVEL_FILE=DEBUG
LOGGER_ERROR_FILE=WARNING
# * Настройки базы данных PostgreSQL по умолчанию postgres
DB_HOST=localhost
#DB_HOST=db
# по умолчани порт 5432
DB_PORT=5432
# !Обязательно
DB_USER=your_user
DB_PASSWORD=your_password
DB_DATABASE=your_database
# *Контекнер Redis по умолчанию redis
REDIS_HOST=localhost
#REDIS_HOST=redis
# по умолчанию порт 6379
REDIS_PORT=6379
# по умолачанию пишит все в 0 базу
NUM_DB=0
# по умолчанию 3600 секунд время жизни кэша редис
DEFAULT_EXPIRE=3600
# !Обязательно
REDIS_USER=your_user
REDIS_PASSWORD=your_redis_password
# *Использовать webhook или polling по умолчанию polling false
USE_POLLING=True
# Если бот и ВПН на одном сервере True
USE_LOCAL=True
#Bucket настройки
BUCKET_NAME=vpn-bot-images
PREFIX=media/
ENDPOINT_URL=https://storage.yandexcloud.net
ACCESS_KEY=your_key
SECRET_KEY=your_key
#AI модель указвать только на локальной разработке так все через яндекс идет
SECRET_KEY_AI=your_key
YANDEX_FOLDER_ID=your_key
#Размерность для эмбеддингов 256 такую LLM нало брать, что б в БД положить
MODEL_LLM_NAME=intfloat/multilingual-e5-base
#Размерность для эмбеддингов по умолчанию Яндекс использует 256  и на локльно модели тот же парметр
EMBEDDING_DIM=256

#по умослчани нормализация TRUE
NORMALIZE=True
# При инициализации на проде не нужно скачивать тяжелые бибилотеки тоьлко для локальной разработки
SKIP_AI_INIT=True
#SESSION для админки ключ.
SESSION_SECRET=key
#TELMENT
TELEMT_SECRET_HELLO=f328acdb32d2768f7836de0b74b3c573
