name: CI

on:
  pull_request:
    types: [ opened, reopened,synchronize ]
  push:
    branches: [ main, develop, settings ]

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.12", "3.13" ]
        poetry-version: [ "latest", "main", "1.8.0" ]
        os: [ ubuntu-latest, ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: View poetry --help
        run: poetry --help
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          poetry install --no-root --with dev
      - name: Run Black
        run: poetry run black --check .
      - name: Run isort
        run: poetry run isort --check-only --profile black .
      - name: Run Ruff
        run: poetry run ruff check .

      - name: Run Ruff Format
        run: poetry run ruff format --check .
      - name: Run mypy
        run: poetry run mypy .

  test:
    runs-on: ubuntu-latest
    needs: lint
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: "1.8.0"

      - name: View poetry --help
        run: poetry --help
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          poetry install --no-root --with dev
      - name: Run tests
        env:
          ENV_FILE: .env.test
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          ADMIN_IDS: ${{ secrets.ADMIN_IDS }}
          BASE_SITE: ${{ vars.BASE_SITE }}
          DB_DATABASE: ${{vars.DB_DATABASE}}
          DB_PASSWORD: ${{vars.DB_PASSWORD}}
          DB_USER: ${{vars.DB_USER}}
          REDIS_PASSWORD: ${{vars.REDIS_PASSWORD}}
          REDIS_USER: ${{vars.REDIS_USER}}
          VPN_CONTAINER: ${{vars.VPN_CONTAINER}}
          VPN_HOST: ${{vars.VPN_HOST}}
          VPN_USERNAME: ${{vars.VPN_USERNAME}}
          BUCKET_NAME: ${{vars.BUCKET_NAME}}
          PREFIX: ${{vars.PREFIX}}
          ENDPOINT_URL: ${{vars.ENDPOINT_URL}}
          ACCESS_KEY: ${{secrets.ACCESS_KEY}}
          SECRET_KEY: ${{secrets.SECRET_KEY}}
        run: poetry run pytest -vs .
