name: CI

on:
  pull_request:
    types: [ opened, reopened,synchronize ]
  push:
    branches: [ main, develop, settings, step7]

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.12", "3.13" ]
        poetry-version: [ "latest", "main", "1.8.0" ]
        os: [ ubuntu-latest, ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: View poetry --help
        run: poetry --help
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          poetry install --no-root --with dev
      - name: Run Black
        run: poetry run black --check .
      - name: Run isort
        run: poetry run isort --check-only --profile black .
      - name: Run Ruff
        run: poetry run ruff check .

      - name: Run Ruff Format
        run: poetry run ruff format --check .
      - name: Run mypy
        run: poetry run mypy .

  test:
    runs-on: ubuntu-latest
    needs: lint
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: "1.8.0"

      - name: View poetry --help
        run: poetry --help
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          poetry install --no-root --with dev
      - name: Run tests
        env:
          ENV_FILE: .env.test
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          ADMIN_IDS: ${{ secrets.ADMIN_IDS }}
          BASE_SITE: ${{ vars.BASE_SITE }}
          DB_DATABASE: ${{vars.DB_DATABASE}}
          DB_PASSWORD: ${{vars.DB_PASSWORD}}
          DB_USER: ${{vars.DB_USER}}
          REDIS_PASSWORD: ${{vars.REDIS_PASSWORD}}
          REDIS_USER: ${{vars.REDIS_USER}}
          VPN_CONTAINER: ${{vars.VPN_CONTAINER}}
          VPN_HOST: ${{vars.VPN_HOST}}
          VPN_USERNAME: ${{vars.VPN_USERNAME}}
          BUCKET_NAME: ${{vars.BUCKET_NAME}}
          PREFIX: ${{vars.PREFIX}}
          ENDPOINT_URL: ${{vars.ENDPOINT_URL}}
          ACCESS_KEY: ${{secrets.ACCESS_KEY}}
          SECRET_KEY: ${{secrets.SECRET_KEY}}
          USE_LOCAL: ${{ vars.USE_LOCAL }}
        run: poetry run pytest -vs .

  deploy_develop:
    needs: [lint, test]
    runs-on: ubuntu-latest
    environment: develop
    if: github.ref == 'refs/heads/develop'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to server (DEV)
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add known hosts
        run: echo "${{ secrets.SERVER_IP }} $(ssh-keyscan -H ${{ secrets.SERVER_IP }})" >> ~/.ssh/known_hosts  # Добавление сервера в known_hosts

      - name: Test SSH connection
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "whoami" && echo PRIVET # Проверка подключения

      - name: Recreate .env and restart containers
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} << EOF
            set -e
            cd /home/vpn_user/test_zone/vpn_bot || exit 1
            echo "Pull latest code..."
            git fetch origin step7
            git reset --hard origin/step7
            git clean -fd

            echo "Recreate .env file..."
            rm -f .env
            echo "BOT_TOKEN=${{ secrets.BOT_TOKEN }}" >> .env

            echo "VPN_HOST=${{ secrets.VPN_HOST }}" >> .env
            echo "VPN_USERNAME=${{ secrets.VPN_USERNAME }}" >> .env
            echo "VPN_CONTAINER=${{ secrets.VPN_CONTAINER }}" >> .env
            echo "MAX_CONFIGS_PER_USER=${{ vars.MAX_CONFIGS_PER_USER }}" >> .env

            echo "ADMIN_IDS=${{ secrets.ADMIN_IDS }}" >> .env

            echo "PRICE_MAP=${{ vars.PRICE_MAP }}" >> .env

            echo "BASE_SITE=${{ vars.BASE_SITE }}" >> .env

            echo "DB_USER=${{ secrets.DB_USER }}" >> .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "DB_DATABASE=${{ secrets.DB_DATABASE }}" >> .env

            echo "REDIS_USER=${{ secrets.REDIS_USER }}" >> .env
            echo "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}" >> .env

            echo "USE_POLLING=${{ vars.USE_POLLING }}" >> .env

            echo "BUCKET_NAME=${{ vars.BUCKET_NAME }}" >> .env
            echo "PREFIX=${{ vars.PREFIX }}" >> .env
            echo "ENDPOINT_URL=${{ secrets.ENDPOINT_URL }}" >> .env
            echo "ACCESS_KEY=${{ secrets.ACCESS_KEY }}" >> .env
            echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
            echo "USE_LOCAL=${{ vars.USE_LOCAL }}" >> .env


            echo "Restart Docker containers..."
            make compose-down STAGE=prod
            make compose-up STAGE=prod
          EOF
